<form class="row mt-5" action="/shorten" method="GET">
  <div class="col-12 col-md-8 col-lg-6 mx-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input
      type="url"
      class="form-control"
      id="inputPassword2"
      placeholder="Input URL here"
      required
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn px-5 mt-3 shorten-btn">Shorten</button>
  </div>
</form>