<h3 class="mt-5">Success! Please use this link:</h3>
<p class="text-primary">{{shortenUrl}}</p>
<button
  class="text-white px-4 py-2 bg-primary border-0 rounded copy-btn"
  type="button"
  onclick="return navigator.clipboard.writeText('{{shortenUrl}}')"
>Copy</button>