body {
  height: 80vh;
}

img {
  width: 150px;
}

.form-control,
.form-control:focus {
  background-color: #eee;
  color: #aaa;
}

.form-control::placeholder {
  color: #aaa;
}

.shorten-btn {
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.shorten-btn:hover {
  background-color: #0d6efd;
  color: #fff;
}

.copy-btn:active {
  transform: scale(0.9);
}